.result{display:none}.active{display:block}.quiz{display:flex;justify-content:center}.timer{margin-top:20px;display:flex;border:1px solid #000;border-radius:5px;align-items:center;justify-content:center;flex-flow:column wrap}.timer div{font-size:20px}
.anotherModal{margin-top:15px}input{width:280px;height:20px}.button_auth{display:flex;font-weight:600;margin-left:auto;margin-right:auto;margin-top:50px}
body{margin:0}
